*/.DS_Store
.DS_Store
*.pyc
*/*.pyc
build/*
bin/*
output/*
.vscode/
.vscode/*
data/csv-to-json-converter/__pycache__
data/csv-to-json-converter/*.pyc
output/ihs_2/*.csv
output/ihs_2_output.json
output/*
