# temp files
*/.DS_Store
.DS_Store

# python files 
data/csv-to-json-converter/__pycache__
data/csv-to-json-converter/*.pyc
*.pyc
*/*.pyc
data/*.zip 

# bin, build dirs 
build/*
bin/*
output/*

# vscode files 
.vscode/
.vscode/*

# code formatter 
format_code.sh
.clang-format

!*/.gitkeep
